.filter {
  width: 25%;
  text-align: left;
  flex-shrink: 0;
}

.filter__heading {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

.filter__type {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.filter__list {
  @include reset-list;
  margin-bottom: 30px;
}

.filter__item {
  margin-bottom: 10px;

  &:hover {
    font-weight: 700;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.filter__link {
  color: inherit;
}

.filter__radio {
  margin-right: 10px;
}
