.sorting {
  display: flex;
  width: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.sorting__text {
  margin-right: 30px;
}

.sorting__list {
  @include reset-list;
  display: flex;
}

.sorting__item {
  font-weight: 600;
  margin-right: 20px;

  &:hover {
    font-weight: 700;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .sorting__button {
    @include reset-button;
  }
}
